.reviews-container h2 {
  margin-top: 30px;
  margin-bottom: 30px;
  color: rgb(14, 185, 51);
}

.reviews {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

@media only screen and (max-width: 688px) {
  .reviews {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}
